<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>&#65279;</title>
</head>

<footer th:fragment="footerFragment">
    Por favor utilice la dirección de correo electrónico
    <a href="mailto:dgckero@gmail.com" title="Email dgckero@gmail.com">dgckero@gmail.com</a>
    para ponerse en contacto con el administrador.<span class="license-cc-footer">Proyecto bajo licencia
    <a href="http://creativecommons.org/licenses/by-nc/4.0/" rel="license">Creative Commons</a>.
        <a href="http://creativecommons.org/licenses/by-nc/4.0/" rel="license">
            <img alt="Licencia de Creative Commons" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png"
                 class="license-img-style"/>
        </a>
    </span>

</footer>

</html>