<!DOCTYPE html>
<html lang=”es” xmlns:th="http://www.thymeleaf.org">
<div class="wrapper" th:fragment="menuFragment">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Menú</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a th:href="@{/newProject}" id="goToNewProject">Crear Proyecto</a>
            </li>
            <li>
                <form id="goToExistingProjectsForm" method="post" th:action="@{/projects/get/all}">
                    <a href="#" onclick="document.getElementById('goToExistingProjectsForm').submit();">Ver
                        Proyectos</a>
                </form>
            </li>
            <li>
                <a th:href="@{/information}">Información</a>
            </li>
        </ul>
    </nav>
</div>
</html>