<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footerFragment">
    Por favor utilice el <a href="@{/contact}" title="formulario de contacto">formulario de contacto</a>
    o la direccin de correo electrnico
    <a href="mailto:dgckero@gmail.com" title="Email dgckero@gmail.com">dgckero@gmail.com</a>
    para ponerse en contacto con el administrador.
    <span class="license-cc-footer">
        Este proyecto est bajo una
        <a href="http://creativecommons.org/licenses/by-nc/4.0/" rel="license">licencia de Creative Commons Reconocimiento-NoComercial 4.0 Internacional</a>.
        <a href="http://creativecommons.org/licenses/by-nc/4.0/" rel="license">
            <img alt="Licencia de Creative Commons" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png"
                 style="border-width:0"/>
        </a>
    </span>

</div>

</html>