<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerFragment">
    <meta charset="UTF-8">
    <meta content="decision-manager" name="description">
    <meta content="DGC" name="author">

    <link rel="icon" th:href="@{/images/icon/favicon.ico}" type="image/png">

    <title th:include=":: #pageTitle">Home</title>

    <script th:src="@{/webjars/jquery/${jquery.version}/jquery.min.js}"></script>
    <script>
        window.jQuery || document.write('<script th:src="@{/webjars/jquery/${jquery.version}/jquery.min.js}"><\/script>')
    </script>
    <script th:src="@{/webjars/datatables/${datatables.version}/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/${datatables.version}/js/dataTables.jqueryui.min.js}"></script>
    <script th:src="@{/webjars/datatables/${datatables.version}/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/webjars/datatables-buttons/${datatables-buttons.version}/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/webjars/popper.js/${popper.version}/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/datatables-buttons/${datatables-buttons.version}/js/buttons.html5.min.js}"></script>
    <script th:src="@{/webjars/jszip/${jszip.version}/jszip.min.js}"></script>
    <script th:src="@{/webjars/pdfmake/${pdfmake.version}/build/pdfmake.min.js}"></script>
    <script th:src="@{/webjars/pdfmake/${pdfmake.version}/build/vfs_fonts.js}"></script>
    <script th:src="@{/webjars/bootstrap/${bootstrap.version}/js/bootstrap.bundle.min.js}"></script>

    <link th:href="@{/webjars/datatables/${datatables.version}/css/jquery.dataTables.min.css} " th:rel="stylesheet"/>
    <link th:href="@{/webjars/datatables/${datatables.version}/css/dataTables.jqueryui.min.css} " th:rel="stylesheet"/>
    <link th:href="@{/webjars/datatables/${datatables.version}/css/dataTables.bootstrap4.min.css} "
          th:rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/${bootstrap.version}/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap4-toggle/${bootstrap4-toggle.version}/css/bootstrap4-toggle.min.css}"
          th:rel="stylesheet"/>
    <link media="all" rel="stylesheet" th:href="@{/css/dgcStyle.css}" type="text/css"/>

</head>

</html>