# netbeans files
/nbactions-release-profile.xml
/nb-configuration.xml

# eclipse files
.classpath
.project
/decision-core/.project
/decision-core/.classpath
/decision-web/.project
/decision-web/.classpath

# idea files
/.idea/
/.metadata/
/.settings/
*.iml

# common files
/.metadata/
/.settings/
/decision-core/.settings/
/decision-core/target/
/decision-web/.settings/
/decision-web/target/
/target/
/lib/
/${tomcat_home}/
