<!DOCTYPE html>
<html lang=”es” xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: headerFragment">
    <title id="pageTitle">Información del proyecto</title>
</head>

<body>

<div class="container-fluid" id="generalContainer">
    <div class="navbar" th:insert="fragments/nav :: navFragment"/>

    <div class="row-fluid" id="internalContainer">
        <aside class="span3" id="application-status" th:insert="fragments/menu :: menuFragment">
        </aside>
        <section class="span12 ml-5" id="main">
            <div class="dgc-inner-main mt-1 d-flex justify-content-center">
                <fieldset class="fieldset-border col-md-12">
                    <legend>Información del proyecto: [[${selectedProject.name}]]</legend>
                    <input id="projectId" th:value="${selectedProject.id}" type="hidden">

                    <fieldset class="fieldset-border">
                        <legend class="legend-border">Detalles</legend>

                        <div class="form-group row">
                            <label class="col-md-4 control-label" for="projectName">Nombre</label>
                            <div class="col-md-5">
                                <input class="form-control input-md" disabled id="projectName" name="name"
                                       th:value="${selectedProject.name}" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label" for="projectCreationDate">Fecha de creación</label>
                            <div class="col-md-4">
                                <input class="form-control input-md" disabled id="projectCreationDate" name="createDate"
                                       th:value="${selectedProject.createDate}" type="date">
                            </div>
                        </div>
                        <form method="post" th:action="@{/projects/edit/__${selectedProject.id}__/emailTemplate}">
                            <div class="form-group row">
                                <label class="col-md-4 control-label" for="projectEmailTemplate">Plantilla email</label>
                                <div class="col-md-4">
                                <textarea class="form-control" id="projectEmailTemplate" name="emailTemplate"
                                          th:inline="text">[[${selectedProject.emailTemplate}]]</textarea>
                                    <button class="btn btn-warning" id="editEmailTemplate" type="submit">
                                        Editar plantilla
                                    </button>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" enctype="multipart/form-data" method="post"
                              th:action="@{/projects/delete/__${selectedProject.id}__/}">
                            <button class="btn btn-danger"
                                    id="deleteProject" type="submit">Borrar proyecto
                            </button>
                        </form>
                    </fieldset>

                    <fieldset class="fieldset-border">
                        <legend class="legend-border">Filtros</legend>
                        <div class="form-group row">
                            <form class="form-horizontal ml-3" enctype="multipart/form-data" method="post"
                                  th:action="@{/projects/get/__${selectedProject.id}__/filters}">
                                <button class="btn btn-warning"
                                        id="editFilter" type="submit">Editar Filtros
                                </button>
                            </form>
                            <form class="form-horizontal ml-4" enctype="multipart/form-data" method="post"
                                  th:action="@{/projects/get/__${selectedProject.id}__/results}">
                                <button class="btn btn-success"
                                        id="viewDMNFilteredResults" name="filtered" type="submit"
                                        value="true">Ver Registros Filtrados
                                </button>
                            </form>
                        </div>
                        <fieldset class="fieldset-border">
                            <legend class="legend-border">Tabla de decisión</legend>
                            <form class="form-horizontal" enctype="multipart/form-data" method="post"
                                  th:action="@{/projects/get/__${selectedProject.id}__/dmnFile}">
                                <button class="btn btn-success" download id="getDmn"
                                        type="submit" value="getDmn">Descargar DMN
                                </button>
                            </form>
                            <form class="form-horizontal mt-3 ml-3" enctype="multipart/form-data" method="post"
                                  th:action="@{/projects/edit/__${selectedProject.id}__/dmnFile}">
                                <div class="form-group">
                                    <input accept=".dm, .dmn" name="dmnFile" type="file"/>
                                    <button class="btn btn-warning"
                                            id="editDmnButton" type="submit">Editar DMN
                                    </button>
                                </div>
                            </form>
                        </fieldset>
                    </fieldset>
                    <fieldset class="fieldset-border ">
                        <legend class="legend-border">Registros</legend>
                        <div class="form-group row">
                            <form class="form-horizontal ml-3" enctype="multipart/form-data" method="post"
                                  th:action="@{/projects/get/__${selectedProject.id}__/results}">
                                <button class="btn btn-success"
                                        id="ViewAll" name="filtered" type="submit"
                                        value="false">Ver
                                </button>
                            </form>
                            <form class="form-horizontal ml-3" enctype="multipart/form-data" method="post"
                                  th:action="@{/projects/delete/__${selectedProject.id}__/results}">
                                <button class="btn btn-warning ml-3"
                                        id="deleteCommonData" type="submit">Borrar registros
                                </button>
                            </form>
                        </div>
                        <form class="form-horizontal" enctype="multipart/form-data" method="post"
                              th:action="@{/projects/edit/__${selectedProject.id}__/results}">
                            <div class="form-group dgc-ml-m16">
                                <fieldset class="fieldset-border ">
                                    <legend class="legend-border">Añadir más registros</legend>
                                    <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                           id="file" name="file"
                                           type="file"/>
                                    </br>
                                    <button class="btn btn-warning mt-3 ml-3"
                                            id="uploadFileButton" type="submit">Enviar
                                    </button>
                                </fieldset>
                            </div>
                        </form>
                    </fieldset>
                </fieldset>
            </div>
        </section>
    </div>
</div>
<footer th:replace="fragments/footer :: footerFragment"/>
</body>
</html>