<!DOCTYPE html>
<html lang=”es” xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: headerFragment">
    <title id="pageTitle">Home</title>
</head>

<body>
<div class="container-fluid" id="generalContainer">
    <div class="navbar" th:insert="fragments/nav :: navFragment"></div>

    <div class="row-fluid" id="internalContainer">
        <aside class="span3" id="application-status" th:insert="fragments/menu :: menuFragment">
        </aside>
    </div>
</div>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>