<!DOCTYPE html>
<html lang=”es” xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: headerFragment">
    <title id="pageTitle">Información</title>
</head>

<body>
<div class="container-fluid" id="generalContainer">
    <div class="navbar" th:insert="fragments/nav :: navFragment"></div>

    <div class="row" id="internalContainer">
        <aside class="span3" id="application-status" th:insert="fragments/menu :: menuFragment">
        </aside>
        <section class="span10 ml-1" id="main">
            <div class="dgc-inner-main justify-content-center">
                <p class="page_title">
                <h1>Información</h1>
                <div class="ml-3 mr-3 mb-3">
                    <h4>A cerca del proyecto</h4>
                    <p>Este website se ha desarrollado como Trabajo Fin de Grado del
                        Curso de Complementos de Formacion de Adaptacion a Grado en Ingenieria de Sistemas de
                        Información.</p>
                    <p>Decision Manager permite al usuario almacenar información contenida en ficheros de tipo Excel y
                        definir validaciones, a través de un formulario Web, basados en las columnas del Excel procesado
                        pudiendo obtener el resultado de los registros que cumplan esas validaciones</p>
                    <p><a class="dgc-brand" th:href="@{/}">Decision-Manager</a> está desarrollado
                        por <a class="developed-by" href="mailto:dgckero@gmail.com">David Gómez Castellanos</a></p>
                </div>
            </div>
            <div class="row-fluid d-flex justify-content-center">
                <h2 class="h2-frameworks justify-content-center">Esta Web ha sido desarrollada utilizando </h2>
                <section id="topbarInfoBuilt">
                    <aside>
                        <a href="http://www.java.com" id="topInfoJava" rel="noopener noreferrer" target="_blank"
                           title="Java">Java</a>
                        <a href="http://www.hibernate.org" id="toptInfoHibernate" rel="noopener noreferrer"
                           target="_blank"
                           title="Hibernate">Hibernate</a>
                        <a href="http://maven.apache.org" id="topInfoMaven" rel="noopener noreferrer" target="_blank"
                           title="Maven">Maven</a>
                        <a href="https://camunda.com/products/dmn-engine/" id="topInfoCamunda" rel="noopener noreferrer"
                           target="_blank"
                           title="Camunda DMN">Camunda DMN</a>
                        <a href="https://spring.io/" id="topInfoSpring" rel="noopener noreferrer" target="_blank"
                           title="Spring">Spring</a>
                        <a href=" https://www.thymeleaf.org" id="topInfoThymeleaf" rel="noopener noreferrer"
                           target="_blank"
                           title="Thymeleaf">Thymeleaf</a>
                        <a href="https://getbootstrap.com/" id="topInfoBootstrap" rel="noopener noreferrer"
                           target="_blank" title="Bootstrap">Bootstrap</a>
                    </aside>
                </section>
            </div>
        </section>
        <div class="mb25 ml-3 justify-content-center">
            <p class="social-network font-weight-bold">También estoy en redes sociales</p>
            <div class="justify-content-center">
                <section id="topbarInfo">
                    <aside>
                        <a href="http://www.facebook.com/DavidGzazG" id="topInfofacebook" rel="noopener noreferrer"
                           target="_blank" title="Facebook">Facebook</a>
                        <a href="http://twitter.com/DavidGzazG" id="toptInfowitter" rel="noopener noreferrer"
                           target="_blank"
                           title="Twitter">Twitter</a>
                        <a href="https://plus.google.com/103081947162358255015" id="topInfogoogleplus"
                           rel="noopener noreferrer"
                           target="_blank" title="Google+">Google+</a>
                        <a href="https://www.linkedin.com/in/david-g%C3%B3mez-castellanos-9b200635/"
                           id="topInfolinkedin"
                           target="_blank" title="LinkedIn">LinkedIn</a>
                    </aside>
                </section>
            </div>
        </div>

    </div>
</div>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>