<!DOCTYPE html>
<html lang=”es” xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: headerFragment">
    <title id="pageTitle">Nuevo Proyecto</title>
</head>

<body>

<div class="container">
    <div class="row">

        <div if="${message}">
            <h2 text="${message}"/>
        </div>

        <div>
            <form action="projects/create" enctype="multipart/form-data" method="post">
                <input name="name" placeholder="Nombre del proyecto" required="required" type="text">
                <br/>
                <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                       name="file" required="required"
                       type="file">
                <input type="submit" value="Crear Proyecto"/>
            </form>
        </div>

        <div>
            <ul>
                <li each="file : ${files}">
                    <a href="${file}" text="${file}"/>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer th:include="fragments/footer :: footerFragment"/>
</body>
</html>