<!DOCTYPE html>
<html lang=”es” xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: headerFragment">
    <title id="pageTitle">Nuevo Proyecto</title>
</head>

<body>

<div class="container-fluid" id="generalContainer">
    <div class="navbar" th:insert="fragments/nav :: navFragment"/>

    <div class="row" id="internalContainer">
        <aside class="span3" id="application-status" th:insert="fragments/menu :: menuFragment">
        </aside>
        <section class="span12 ml-5" id="main">
            <div align="center" class="dgc-inner-main mt-4">

                <div if="${message}">
                    <h2 text="${message}"/>
                </div>

                <div>
                    <form action="projects/create" enctype="multipart/form-data" method="post">
                        <input name="name" placeholder="Nombre del proyecto" required="required" type="text">
                        <br/>
                        <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                               name="file" required="required"
                               type="file">
                        <input type="submit" value="Crear Proyecto"/>
                    </form>
                </div>

                <div>
                    <ul>
                        <li each="file : ${files}">
                            <a href="${file}" text="${file}"/>
                        </li>
                    </ul>
                </div>

            </div>
        </section>
    </div>
</div>

<footer th:replace="fragments/footer :: footerFragment"/>
</body>
</html>