<!DOCTYPE html>
<html lang=”es” xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: headerFragment">
    <title id="pageTitle">Seleccionar Proyecto Existente</title>
</head>

<body>

<div class="container-fluid" id="generalContainer">
    <div class="navbar" th:insert="fragments/nav :: navFragment"/>

    <div class="row" id="internalContainer">
        <aside class="span3" id="application-status" th:insert="fragments/menu :: menuFragment">
        </aside>
        <section class="span700 ml-5" id="main">
            <div align="center" class="dgc-inner-main mt-4">
                <div if="${message}">
                    <h2 text="${message}"/>
                </div>

                <form class="form-horizontal" th:action="@{/projects/get}" th:method="post">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Crear Nuevo Proyecto</legend>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="selectedProject">Selecciona un Proyecto</label>
                            <div class="col-md-6">
                                <select id="selectedProject" name="id">
                                    <option th:each="item : ${existingProjects}"
                                            th:selected="false"
                                            th:text="${item.name}"
                                            th:value="${item.id}"
                                    />
                                </select>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="goToSelectedProject"></label>
                            <div class="col-md-4">
                                <button class="btn btn-success" id="goToSelectedProject" name="goToSelectedProject">Ver
                                    Proyecto
                                </button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </section>
    </div>
</div>

<footer th:replace="fragments/footer :: footerFragment"/>
</body>
</html>