<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Selección de filtros</title>
    <script th:src="@{/webjars/jquery/${jquery.version}/jquery.min.js}"></script>
    <link th:href="@{/webjars/bootstrap/${bootstrap.version}/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap4-toggle/${bootstrap4-toggle.version}/css/bootstrap4-toggle.min.css}"
          th:rel="stylesheet"/>
    <link media="all" rel="stylesheet" th:href="@{/css/dgcStyle.css}" type="text/css"/>


    <script>
        $(document).ready(function () {
            $("div#emailDiv").hide();

            $('#toggleEmail').change(function () {
                if ( $(this).prop("checked") ){
                    $("div#emailDiv").show();
                }else{
                    $("div#emailDiv").hide();
                }
            });
        });







    </script>

</head>
<body>
<p><strong>Selecciona los filtros de la decisión</strong></p>

<div class="container">
    <div class="row">
        <form action="#" method="post" th:action="@{/filterList/process}" th:object="${form}">
            <fieldset>
                <table>
                    <thead>
                    <tr>
                        <th>Nombre del filtro</th>
                        <th>Valor</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, itemStat : ${filterList}">
                        <td>
                            <input th:field="*{filters[__${itemStat.index}__].project.id}"
                                   type="hidden"/>
                            <input th:field="*{filters[__${itemStat.index}__].project.name}"
                                   type="hidden"/>
                            <input th:field="*{filters[__${itemStat.index}__].project.createDate}"
                                   type="hidden"/>
                            <input th:field="*{filters[__${itemStat.index}__].project.commonDataTableName}"
                                   type="hidden"/>

                            <input th:field="*{filters[__${itemStat.index}__].id}"
                                   th:value="${item.id}" type="hidden"/>
                            <input th:field="*{filters[__${itemStat.index}__].filterClass}"
                                   th:value="${item.class}" type="hidden"/>
                            <input th:field="*{filters[__${itemStat.index}__].contactFilter}"
                                   th:value="${item.contactFilter}" type="hidden"/>
                            <input th:field="*{filters[__${itemStat.index}__].name}"
                                   th:value="${item.name}" type="hidden"/>
                            <input th:field="*{filters[__${itemStat.index}__].active}"
                                   th:id="${item.name} + '_checkbox'"
                                   th:name="${item.name} + '_checkbox'" type="checkbox"/>

                            <div th:switch="${item.class}">

                                <div th:case="'Date'">
                                    <label>
                                        <span th:text="${item.name}"/>
                                        <input placeholder="Seleccione la fecha por la que filtrar"
                                               th:field="*{filters[__${itemStat.index}__].value}"
                                               th:id="${item.name}" type="date"/>
                                    </label>
                                </div>
                                <div th:case="'Double'">
                                    <label>
                                        <span th:text="${item.name}"/>
                                        <input th:field="*{filters[__${itemStat.index}__].value}" th:id="${item.name}"
                                               type="number"/>
                                    </label>
                                </div>
                                <div th:case="*">
                                    <label>
                                        <span th:text="${item.name}"/>
                                        <input placeholder="Seleccione el valor por la que filtrar"
                                               th:field="*{filters[__${itemStat.index}__].value}"
                                               th:id="${item.name}" type="text"/>
                                    </label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <errors cssClass="error" path="filter"/>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div id="contactFilterDiv" th:if="${contactFilter}">
                    <label class="checkbox-inline">
                        <input data-toggle="toggle" id="toggleEmail" type="checkbox">Enviar Email</input>
                    </label>
                    <div class="col-md-4" id="emailDiv">
                        <textarea class="form-control" cols="90" id="emailTemplate" name="emailTemplate"
                                  placeholder="Defina el Texto que será enviado a la información de contacto de los registros que pasen las validaciones que defina en esta página"
                                  rows="5"></textarea>
                    </div>
                </div>

                <input id="submitButton" th:value="Enviar" type="submit">
                <input id="resetButton" name="reset" th:value="Reset" type="reset"/>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>