<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Selección de filtros</title>
    <script th:src="@{/webjars/jquery/${jquery.version}/jquery.min.js}"></script>
    <link th:href="@{/webjars/bootstrap/${bootstrap.version}/css/bootstrap.min.css} " th:rel="stylesheet"/>
</head>
<body>

<body>

<div class="container">
    <div class="row">

        <div if="${message}">
            <h2 text="${message}"/>
        </div>

        <div>
            <form action="uploadFile" enctype="multipart/form-data" method="post">
                <input name="file" type="file">
                <input type="submit" value="importar"/>
            </form>
        </div>

        <div>
            <ul>
                <li each="file : ${files}">
                    <a href="${file}" text="${file}"/>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>