<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Selección de filtros</title>
    <script th:src="@{/webjars/jquery/${jquery.version}/jquery.min.js}"></script>
    <link th:href="@{/webjars/bootstrap/${bootstrap.version}/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link media="all" rel="stylesheet" th:href="@{/css/dgcStyle.css}" type="text/css"/>
</head>

<body>
<div class="container">
    <div class="row">

        <div if="${message}">
            <h2 text="${message}"/>
        </div>

        <div>
            <form action="#" data-th-action="@{/project}" method="post">
                <button name="action" type="submit" value="newProject">Crear Nuevo Proyecto</button>
                <button name="action" type="submit" value="selectProject">Ir a Proyecto</button>
            </form>
        </div>

    </div>
</div>
</body>
</html>