<!DOCTYPE html>
<html lang=”es” xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: headerFragment">
    <title id="pageTitle">Seleccionar Proyecto Existente</title>
</head>

<body>

<div class="container">
    <div class="row">

        <div if="${message}">
            <h2 text="${message}"/>
        </div>
        <form th:action="@{/projects/get}" th:method="post">
            <div>
                <label for="selectedProject">Selecciona un Proyecto:</label>
                <select id="selectedProject" name="id">
                    <option th:each="item : ${existingProjects}"
                            th:selected="false"
                            th:text="${item.name}"
                            th:value="${item.id}"
                    />
                </select>
                <p><input id="goToSelectedProject" type="submit" value="Enviar"/></p>
            </div>
        </form>
    </div>
</div>
<footer th:include="fragments/footer :: footerFragment"/>
</body>
</html>