<!DOCTYPE HTML>
<html lang=”es” xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: headerFragment">
    <title id="pageTitle">Operación realizada con éxito</title>
</head>

<body>
<div class="container-fluid" id="generalContainer">

    <div class="row" id="internalContainer">
        <section class="span10" id="main">
            <div class="dgc-operation-ok">
                <h1 align="center">Operación realizada con éxito</h1>
                <div id="errorMessageDiv" th:if="${message}">
                    <h4 th:text="${message}"></h4>
                </div>
            </div>
        </section>
    </div>
</div>
<footer th:include="fragments/footer :: footerFragment"/>
</body>
</html>
