<!DOCTYPE html>
<html lang=”es” xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Información del proyecto</title>
    <link th:href="@{/webjars/bootstrap/${bootstrap.version}/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link media="all" rel="stylesheet" th:href="@{/css/dgcStyle.css}" type="text/css"/>
</head>

<body>

<form class="form-horizontal" enctype="multipart/form-data" method="post" th:action="@{/editProject}"
      th:object="${selectedProject}">
    <fieldset>
        <input th:field="*{id}" type="hidden"/>
        <input th:field="*{name}" type="hidden"/>
        <input th:field="*{createDate}" type="hidden"/>
        <input th:field="*{commonDataTableName}" type="hidden"/>

        <!-- Form Name -->
        <legend>Información del proyecto: [[${selectedProject.name}]]</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="projectName">Nombre</label>
            <div class="col-md-5">
                <input class="form-control input-md" disabled id="projectName" name="name"
                       th:value="${selectedProject.name}" type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="projectCreationDate">Fecha de creación</label>
            <div class="col-md-4">
                <input class="form-control input-md" disabled id="projectCreationDate" name="createDate"
                       th:value="${selectedProject.createDate}" type="date">
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="projectEmailTemplate">Plantilla email</label>
            <div class="col-md-4">
                    <textarea class="form-control" id="projectEmailTemplate" name="emailTemplate"
                              th:inline="text">[[${selectedProject.emailTemplate}]]</textarea>

                <button class="btn btn-warning"
                        id="editEmailTemplate" name="action" type="submit"
                        value="editEmailTemplate">Editar plantilla
                </button>
            </div>
        </div>

        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="uploadFile">Añadir más registros</label>
            <div class="col-md-4">
                <input id="uploadFile" name="uploadFile" type="file">
                <button class="btn btn-success"
                        id="uploadFileButton" name="action" type="submit"
                        value="uploadFile">Enviar
                </button>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="getDmn">Tabla de decisión</label>
            <div class="col-md-8">
                <button class="btn btn-success" download id="getDmn" name="action"
                        type="submit" value="getDmn">Descargar DMN
                </button>
                <button class="btn btn-success"
                        id="viewDMNFilteredResults" name="action" type="submit"
                        value="getDMNFilteredResults">Ver Registros Filtrados
                </button>
                <div class="col-md-4">
                    <input name="dmnFile" type="file"/>
                    <button class="btn btn-success"
                            id="editDmnButton" name="action" type="submit"
                            value="editDmn">Editar DMN
                    </button>
                </div>
                <button class="btn btn-warning"
                        id="editFilter" name="action" type="submit"
                        value="editFilters">Editar Filtros
                </button>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="ViewAll">Registros</label>
            <div class="col-md-8">
                <button class="btn btn-success"
                        id="ViewAll" name="action" type="submit"
                        value="getAllRegisters">Ver
                </button>
                <button class="btn btn-warning"
                        id="deleteCommonData" name="action" type="submit"
                        value="deleteRegisters">Borrar registros
                </button>
                <button class="btn btn-danger"
                        id="deleteProject" name="action" type="submit"
                        value="deleteProject">Borrar proyecto
                </button>
            </div>
        </div>
    </fieldset>
</form>

</body>
</html>